.toggle {
    display: none;
}

.card {
    width: 300px;
    height: 150px; 
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    transition: height 0.5s ease; 
}

.card-content {
    font-size: 16px;
}

.toggle:checked + .card {
    height: calc(150px + 30px + 10%); 
}
