*{
    background-color: rgb(136, 136, 136);
    color:black;
   }
   
   section{
       color: rgb(104, 41, 41);
   }

   .Witam {
    font-size: xx-large;
    text-align: center;
    color: black;
    background-color: beige;
    border: 8px solid whitesmoke;

   }
   
   .definicja {
    font-size: xx-large;
    color: black;
    background-color: beige;
    border: 8px solid whitesmoke;

   }
