body {
    color: #ffff;
    background: red;
}

@media (prefers-color-scheme: dark) {
    body {
        color: black;
        background: blue;
    }
}


@media screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .header {
        font-size: 1.2rem;
    }
}

@media print{
    body {
        font-size: 12pt;
        color: black;
        background: white;
    }

    .nav, .footer {
        display: none; /*ukrywamy elementy nieistotne w wydruku*/
    }
}