.container {
    display: flex;
}

.cad {
    width: 100px;
    height: 150px;
    background: lightgreen;
    margin: -20px;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.card:hover {
    z-index: 10;
    background-color: #ddd;
}